.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.hero {
    background: url('https://assets.bucketlistly.blog/sites/5adf778b6eabcc00190b75b1/content_entry5adf77af6eabcc00190b75b6/605d5c81f4fdf8000bd0ee1c/files/best-places-to-visit-new-zealand-main-image-hd-op.webp') center center/cover no-repeat;
    color: white;
    padding: 150px 20px;
    text-align: center;
    position: relative;
}

.hero h1, .hero h3 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}

.bg-primary {
    margin-top: -20px; 
}

.place-img {
    width: 100%; 
    height: auto;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; 
}
.form-box {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}